<div class="content">
    <h2>Albuns disponíveis</h2>
        <!-- <app-card-album></app-card-album> -->

    <mat-grid-list cols="4" rowHeight="500px" >
        
            <div *ngFor="let album of albuns">
                <!-- <div >
                    <img class="circle" src="{{album.thumbnailUrl}}" alt="">
                </div>
            
                <h2><a routerLink="/list/{{album.id}}">{{album.id}} - {{album.title}}</a></h2> -->
                <mat-grid-tile class="mat-grid-tile " >
                    <mat-card class="my-card">
                        <mat-card-header>
                        <div mat-card-avatar class="">
                            <img class="circle" src="{{album.thumbnailUrl}}" alt="">
                        </div>
                        <mat-card-title>{{album.title | titlecase}}</mat-card-title>
                        <!-- <mat-card-subtitle>Número: {{album.id}}</mat-card-subtitle> -->
                        </mat-card-header>
                        <img routerLink="/list/{{album.id}}" mat-card-image src="{{album.thumbnailUrl}}" alt="Álbum ">
                        <mat-card-content>
                            <p>
                                Título:  {{album.title | titlecase}}

                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button  routerLink="/list/{{album.id}}" >mais informações</button>
                            
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>

            </div>
     
    </mat-grid-list>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
</div>