.circle {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  mat-grid-tile {
    background: white;
    border: solid 0px red;
  }
  .content{
border: solid 0px red;

  }
  mat-grid-tile{
   
    padding-top: 5px;
  }